.idea/workspace.xml
node_modules
components
game-server/ourpalm_logs
game-server/logs
game-server/perf-test/log
web-server/views/*.html
web-server/views/mixins/*.html
web-server/views/partials/*.html
web-server/views/templates/*.html
npm-debug.log
tmp
