include ../mixins/block

+block("设置")
    span

div(ng-show="#{show_debug}")
    +block("调试"): .form-horizontal(role="form")
        .form-group
            .col-sm-1: button(class="btn btn-default", type="submit", ng-click="kickAll()") 全部踢下线
        .form-group
            .col-sm-10: input(type="text", placeholder="消息内容", ng-model="bdContent").form-control
            .col-sm-1: button(class="btn btn-default", type="submit", ng-click="broadcast()") 广播
        .form-group
            .col-sm-10: input(type="text", placeholder="消息内容", ng-model="chatContent").form-control
            .col-sm-1: button(class="btn btn-default", type="submit", ng-click="chat()") 发聊天消息
        .form-group
            .col-sm-3: input(type="text", placeholder="角色ID", ng-model="mailRoleId").form-control
            .col-sm-7: input(type="text", placeholder="邮件内容", ng-model="mailContent").form-control
            .col-sm-1: button(class="btn btn-default", type="submit", ng-click="sendMail()") 发送邮件
