include ../mixins/block

+block("导出数据")
    .row
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="侠客数据").submit
            input(type="hidden", name="tag", value="heroDef")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="道具数据").submit
            input(type="hidden", name="tag", value="itemDef")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="关卡数据").submit
            input(type="hidden", name="tag", value="stage")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="奖励数据").submit
            input(type="hidden", name="tag", value="treasure")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="弹道数据").submit
            input(type="hidden", name="tag", value="ballistic")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="任务数据").submit
            input(type="hidden", name="tag", value="task")

+block("所有武将")
    div(class="message errormsg", ng-show="hero_error")
        p {{hero_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 武将名
            th 职业
            th 资质
            th 体质
            th 武力
            th 智力
            th 生命力
            th 物理攻击
            th 法术攻击
            th 物理防御
            th 法术防御
            th 攻击浮动
            th 体质成长
            th 武力成长
            th 智力成长
            th 暴击
            th 攻击速度
            th 移动速度
            th 弹道等级
            th 冰封附加
            th 灼烧附加
            th 减速附加
            th 衰弱附加
            th 伤害加成
            th 伤害减免
            th 伤害增加
            th 伤害减少
            th 物理抗性
            th 法术抗性
            th 常量表攻击常数
            th 常量表防御常数
            th 技能
            th 资源
        tbody: tr(ng-repeat="h in heroes | orderBy:'id'")
            td {{h.id}}
            td {{h.name}}
            td {{h.type}}
            td {{h.stars}}
            td {{h.vitality}}
            td {{h.strength}}
            td {{h.intelligence}}
            td {{h.hp}}
            td {{h.attack}}
            td {{h.magic}}
            td {{h.defense}}
            td {{h.resist}}
            td {{h.attackDelta}}
            td {{h.vitGrowth}}
            td {{h.strGrowth}}
            td {{h.intelGrowth}}
            td {{h.critical}}
            td {{h.attackSpeed}}
            td {{h.speed}}
            td {{h.ballLev}}
            td {{h.ice}}
            td {{h.fire}}
            td {{h.slow}}
            td {{h.weak}}
            td {{h.damage}}
            td {{h.damageReduction}}
            td {{h.damageFactor}}
            td {{h.damageRedFactor}}
            td {{h.physicalResist}}
            td {{h.magicResist}}
            td {{h.attackFactor}}
            td {{h.defenseFactor}}
            td {{h.skill}}
            td {{h.resKey}}

+block("所有道具")
    div(class="message errormsg", ng-show="item_error")
        p {{item_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 类型
            th 道具名
            th 售价
            th 武将等级
            th 品质
            th 堆叠数量
            th 分解参数
        tbody: tr(ng-repeat="item in items | orderBy:'id'")
            td {{item.id}}
            td {{item.type}}
            td {{item.name}}
            td {{item.price}}
            td {{item.levelReq}}
            td {{item.quality}}
            td {{item.stackSize}}
            td {{item.destructCoeff}}

+block("所有奖励")
    div(class="message errormsg", ng-show="trea_error")
        p {{trea_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 类型
            th 数量
            th 说明
            th 选择
            th 权重
        tbody: tr(ng-repeat="tr in treasures | orderBy:'id'")
            td {{tr.id}}
            td {{tr.type}}
            td {{tr.count}}
            td {{tr.desc}}
            td {{tr.candidates}}
            td {{tr.weights}}

+block("所有任务")
    div(class="message errormsg", ng-show="task_error")
        p {{task_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 等级
            th 类型
            th 权重
            th 名称
            th 描述
            th 行为
            th 奖励
            th 开始时间
            th 结束时间
        tbody: tr(ng-repeat="t in tasks | orderBy:'id'")
            td {{t.id}}
            td {{t.level}}
            td {{["活动", "随机", "每日"][t.type]}}
            td {{t.weight}}
            td {{t.name}}
            td {{t.desc}}
            td {{t.condition}}
            td {{t.reward}}
            td {{t.start | amDateFormat:"YYYY-MM-DD HH:mm"}}
            td {{t.end | amDateFormat:"YYYY-MM-DD HH:mm"}}

+block("所有公告")
    div(class="message errormsg", ng-show="ann_error")
        p {{ann_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 可见区
            th 名称
            th 内容
            th 开始时间
            th 结束时间
        tbody: tr(ng-repeat="a in anns | orderBy:'id'")
            td {{a.id}}
            td {{a.partitions}}
            td {{a.name}}
            td: a(href="", ng-click="preview(a)") [预览]
            td {{a.start | amDateFormat:"YYYY-MM-DD HH:mm"}}
            td {{a.end | amDateFormat:"YYYY-MM-DD HH:mm"}}

+block("所有弹道")
    div(class="message errormsg", ng-show="ball_error")
        p {{ball_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th key
            th value
        tbody: tr(ng-repeat="b in balls | orderBy:'id'")
            td {{b.id}}
            td {{b.value}}
