include ../mixins/block

+block("导出数据")
    .row
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="武将数据").submit
            input(type="hidden", name="tag", value="heroDef")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="抽将数据").submit
            input(type="hidden", name="tag", value="heroDraw")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="节点数据").submit
            input(type="hidden", name="tag", value="drawNode")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="道具数据").submit
            input(type="hidden", name="tag", value="itemDef")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="装备数据").submit
            input(type="hidden", name="tag", value="equipmentDef")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="宝石数据").submit
            input(type="hidden", name="tag", value="gemDef")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="关卡数据").submit
            input(type="hidden", name="tag", value="stage")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="集市数据").submit
            input(type="hidden", name="tag", value="storeitem")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="奖励数据").submit
            input(type="hidden", name="tag", value="treasure")
        .col-md-1: form(method="post", action="/api/export")
            input(type="submit", value="任务数据").submit
            input(type="hidden", name="tag", value="task")

+block("所有武将")
    div(class="message errormsg", ng-show="hero_error")
        p {{hero_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 武将名
            th 职业
            th 星级
            th 资质
            th 魂魄
            th 体质
            th 武力
            th 智力
            th HP
            th 物攻
            th 法攻
            th 物防
            th 法防
            th HP成长
            th 物攻成长
            th 法攻成长
            th 物防成长
            th 法防成长
            th HP升星
            th 物攻升星
            th 法攻升星
            th 物防升星
            th 法防升星
            th 升星将魂
            th 攻击浮动
            th 暴击
            th 基础间隔
            th 攻击速度
            th 移动速度
            th 主将弹道
            th 副将弹道
            th 伤害加成
            th 伤害减免
            th 伤害增加
            th 伤害减少
            th 物理抗性
            th 法术抗性
            th 常量表攻击常数
            th 常量表防御常数
            th 主动技能
            th 被动技能
            th 资源
        tbody: tr(ng-repeat="h in heroes | orderBy:'id'")
            td {{h.id}}
            td {{h.name}}
            td {{h.type}}
            td {{h.stars}}
            td {{h.quality}}
            td {{h.souls}}
            td {{h.vitality}}
            td {{h.strength}}
            td {{h.intelligence}}
            td {{h.hp}}
            td {{h.attack}}
            td {{h.magic}}
            td {{h.defense}}
            td {{h.resist}}
            td {{h.hpGrowth}}
            td {{h.attackGrowth}}
            td {{h.magicGrowth}}
            td {{h.defenseGrowth}}
            td {{h.resistGrowth}}
            td {{h.hpRefine}}
            td {{h.attackRefine}}
            td {{h.magicRefine}}
            td {{h.defenseRefine}}
            td {{h.resistRefine}}
            td {{h.refineStars}}
            td {{h.attackDelta}}
            td {{h.critical}}
            td {{h.interval}}
            td {{h.attackSpeed}}
            td {{h.speed}}
            td {{h.ballLev}}
            td {{h.secBallLev}}
            td {{h.damage}}
            td {{h.damageReduction}}
            td {{h.damageFactor}}
            td {{h.damageRedFactor}}
            td {{h.physicalResist}}
            td {{h.magicResist}}
            td {{h.attackFactor}}
            td {{h.defenseFactor}}
            td {{h.skill}}
            td {{h.pSkill}}
            td {{h.resKey}}

+block("抽取概率")
    div(class="message errormsg", ng-show="draw_error")
        p {{draw_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 武将ID/道具ID
            th 碎片
            th 铜钱抽权重
            th 元宝抽权重
            th 付费铜钱抽权重
            th 付费元宝抽权重
            th 十连铜钱抽权重
            th 十连元宝抽权重
            th 等级
            th 数量
        tbody: tr(ng-repeat="hd in draws | orderBy:'id'")
            td {{hd.id}}
            td {{hd.itemId}}
            td {{hd.isSoul}}
            td {{hd.coinWeight}}
            td {{hd.goldWeight}}
            td {{hd.paidCoinWeight}}
            td {{hd.paidGoldWeight}}
            td {{hd.tenCoinWeight}}
            td {{hd.tenGoldWeight}}
            td {{hd.level}}
            td {{hd.count}}

+block("节点")
    div(class="message errormsg", ng-show="node_error")
        p {{node_error}}

+block("所有道具")
    div(class="message errormsg", ng-show="item_error")
        p {{item_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 道具名
            th 品质
            th 类型
            th 子类型
            th 资源
            th 最低等级
            th 堆叠数量
            th 可合成
            th 合成数量
            th 合成目标
            th 可售出
            th 价格
            th 使用对象
            th 效果
            th 描述
        tbody: tr(ng-repeat="item in items | orderBy:'id'")
            td {{item.id}}
            td {{item.name}}
            td {{item.quality}}
            td {{item.type}}
            td {{item.subType}}
            td {{item.resKey}}
            td {{item.levelReq}}
            td {{item.stackSize}}
            td {{item.composable}}
            td {{item.composeCount}}
            td {{item.composeTarget}}
            td {{item.canSell}}
            td {{item.price}}
            td {{item.useTarget}}
            td {{item.itemEffect}}
            td {{item.desc}}

+block("所有装备")
    div(class="message errormsg", ng-show="eq_error")
        p {{eq_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 道具名
            th 颜色
            th 品质
            th 类型
            th 子类型
            th 资源
            th 最低等级
            th HP
            th 物理攻击
            th 法术攻击
            th 物理防御
            th 法术防御
            th 强化HP提升
            th 强化物攻提升
            th 强化法攻提升
            th 强化物防提升
            th 强化法防提升
            th 强化消耗
            th 精炼HP提升
            th 精炼物攻提升
            th 精炼法攻提升
            th 精炼物防提升
            th 精炼法防提升
            th 精炼铜钱消耗
            th 精炼消耗
            th 孔数
            th 宝石类型
            th 价格
        tbody: tr(ng-repeat="eq in equipments | orderBy:'id'")
            td {{eq.id}}
            td {{eq.name}}
            td {{eq.color}}
            td {{eq.quality}}
            td {{eq.type}}
            td {{eq.subType}}
            td {{eq.resKey}}
            td {{eq.levelReq}}
            td {{eq.hp}}
            td {{eq.attack}}
            td {{eq.magic}}
            td {{eq.defense}}
            td {{eq.resist}}
            td {{eq.hpGrowth}}
            td {{eq.attackGrowth}}
            td {{eq.magicGrowth}}
            td {{eq.defenseGrowth}}
            td {{eq.resistGrowth}}
            td {{eq.upgradeCost}}
            td {{eq.hpRefine}}
            td {{eq.attackRefine}}
            td {{eq.magicRefine}}
            td {{eq.defenseRefine}}
            td {{eq.resistRefine}}
            td {{eq.refineCoin}}
            td {{eq.refineCost}}
            td {{eq.slots}}
            td {{eq.gemType}}
            td {{eq.price}}

+block("所有关卡")
    div(class="message errormsg", ng-show="level_error")
        p {{level_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th 章节ID
            th 章节名
            th 关卡ID
            th 关卡名
            th 体力
            th 角色经验
            th 英雄经验
            th 路径
        tbody: tr(ng-repeat="l in levels | orderBy:['stageId', 'id']")
            td {{l.stageId}}
            td {{l.stage}}
            td {{l.id}}
            td {{l.name}}
            td {{l.energy}}
            td {{l.roleExp}}
            td {{l.heroExp}}
            td {{l.path}}

+block("所有集市商品")
    div(class="message errormsg", ng-show="si_error")
        p {{si_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th 商品ID
            th 商品名
            th 元宝商品
            th 价格
            th 道具ID
            th 是碎片
            th 数量
            th 权重
        tbody: tr(ng-repeat="si in storeItems | orderBy:'id'")
            td {{si.id}}
            td {{si.name}}
            td {{si.gold}}
            td {{si.price}}
            td {{si.defId}}
            td {{si.isSoul}}
            td {{si.count}}
            td {{si.weight}}

+block("所有奖励")
    div(class="message errormsg", ng-show="trea_error")
        p {{trea_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 类型
            th 数量
            th 说明
            th 选择
            th 权重
        tbody: tr(ng-repeat="tr in treasures | orderBy:'id'")
            td {{tr.id}}
            td {{tr.type}}
            td {{tr.count}}
            td {{tr.desc}}
            td {{tr.candidates}}
            td {{tr.weights}}

+block("所有任务")
    div(class="message errormsg", ng-show="task_error")
        p {{task_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 等级
            th 类型
            th 权重
            th 名称
            th 描述
            th 行为
            th 奖励
            th 开始时间
            th 结束时间
        tbody: tr(ng-repeat="t in tasks | orderBy:'id'")
            td {{t.id}}
            td {{t.level}}
            td {{["活动", "随机", "每日"][t.type]}}
            td {{t.weight}}
            td {{t.name}}
            td {{t.desc}}
            td {{t.condition}}
            td {{t.reward}}
            td {{t.start | amDateFormat:"YYYY-MM-DD HH:mm"}}
            td {{t.end | amDateFormat:"YYYY-MM-DD HH:mm"}}

+block("所有公告")
    div(class="message errormsg", ng-show="ann_error")
        p {{ann_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 可见区
            th 名称
            th 内容
            th 开始时间
            th 结束时间
        tbody: tr(ng-repeat="a in anns | orderBy:'id'")
            td {{a.id}}
            td {{a.partitions}}
            td {{a.name}}
            td: a(href="", ng-click="preview(a)") [预览]
            td {{a.start | amDateFormat:"YYYY-MM-DD HH:mm"}}
            td {{a.end | amDateFormat:"YYYY-MM-DD HH:mm"}}
