include ../mixins/block

+block("导出数据")
    .row
        .col-md-2
            pre: form(method="post", action="/api/export")
                input(type="submit", value="侠客数据").submit
                input(type="hidden", name="tag", value="heroDef")
        .col-md-2
            pre: form(method="post", action="/api/export")
                input(type="submit", value="道具数据").submit
                input(type="hidden", name="tag", value="itemDef")
        .col-md-2
            pre: form(method="post", action="/api/export")
                input(type="submit", value="关卡数据").submit
                input(type="hidden", name="tag", value="stage")
        .col-md-2
            pre: form(method="post", action="/api/export")
                input(type="submit", value="奖励数据").submit
                input(type="hidden", name="tag", value="treasure")

+block("所有武将")
    div(class="message errormsg", ng-show="hero_error")
        p {{hero_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 武将名
            th 男性
            th 星级
            th 最高等级
            th 可装配武器
        tbody: tr(ng-repeat="h in heroes | orderBy:'id'")
            td {{h.id}}
            td {{h.name}}
            td {{h.male}}
            td {{h.stars}}
            td {{h.maxLevel}}
            td {{h.canEquip}}

+block("所有道具")
    div(class="message errormsg", ng-show="item_error")
        p {{item_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 类型
            th 道具名
            th 售价
            th 武将等级
            th 品质
            th 堆叠数量
            th 分解参数
        tbody: tr(ng-repeat="item in items | orderBy:'id'")
            td {{item.id}}
            td {{item.type}}
            td {{item.name}}
            td {{item.price}}
            td {{item.levelReq}}
            td {{item.quality}}
            td {{item.stackSize}}
            td {{item.destructCoeff}}

+block("所有奖励")
    div(class="message errormsg", ng-show="trea_error")
        p {{trea_error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead: tr
            th ID
            th 类型
            th 数量
            th 选择
            th 权重
        tbody: tr(ng-repeat="tr in treasures | orderBy:'id'")
            td {{tr.id}}
            td {{tr.type}}
            td {{tr.count}}
            td {{tr.candidates}}
            td {{tr.weights}}
