include ../mixins/block

mixin uploadBox(title, func)
    pre(ng-file-drop="#{func}($files)"): form
        h4= title
        input(type="file", value="上传", ng-file-select="#{func}($files)")
        | 或将文件拖拽至此

div(ng-show="!toConfirm")
    +block("导入数据")
        div(class="message errormsg", ng-show="error")
            p {{error}}
        div(class="message success", ng-show="info")
            p {{info}}
        label.checkbox
            input(type='checkbox', ng-model="isUTF8")
            | UTF8
        +uploadBox("导入文件:", "upload")
        hr

div(ng-show="toConfirm")
    +block("确认")
        div(class="message errormsg", ng-show="error")
            p {{error}}
        div(class="message success", ng-show="info")
            p {{info}}
        div(ng-repeat="tbl in toConfirm")
            h2(ng-show="tbl.news.length + tbl.mods.length") 表: {{tbl.tag}}
            div(ng-show="tbl.news")
                h2 新条目
                pre(ng-repeat="n in tbl.news"): table.table
                    thead
                        th key
                        th value
                    tr(ng-repeat="(key, value) in n")
                        td: | {{key}}
                        td: | {{value}}
            div(ng-show="tbl.mods")
                h2 修改条目
                pre(ng-repeat="n in tbl.mods"): table.table
                    thead
                        th key
                        th 原值
                        th
                        th 新值
                    tr(ng-repeat="(key, value) in n")
                        td: | {{key}}
                        td(ng-show="value.new !== undefined && value.old !== undefined"): | {{value.old}}
                        td(ng-show="value.new !== undefined && value.old !== undefined"): |  ==>
                        td(ng-show="value.new !== undefined && value.old !== undefined"): | {{value.new}}
                        td(ng-show="!(value.new !== undefined && value.old !== undefined)")
                        td(ng-show="!(value.new !== undefined && value.old !== undefined)")
                        td(ng-show="!(value.new !== undefined && value.old !== undefined)"): | {{value}}
        hr
        .row
            button.col-md-1.col-md-offset-9(type="submit", class="btn btn-primary", ng-click="confirm()") 确认
            button.col-md-1.col-md-offset-1(type="submit", class="btn btn-danger", ng-click="cancel()") 取消
