include ../mixins/block

mixin uploadBox(title, func)
    pre(ng-file-drop="#{func}($files)"): form
        h4= title
        input(type="file", value="上传", ng-file-select="#{func}($files)")
        | 或将文件拖拽至此

div(ng-show="!toConfirm")
    +block("导入数据")
        div(class="message errormsg", ng-show="error")
            p {{error}}
        div(class="message success", ng-show="info")
            p {{info}}
        +uploadBox("导入文件:", "upload")
        hr

div(ng-show="toConfirm")
    +block("确认")
        div(class="message errormsg", ng-show="error")
            p {{error}}
        div(class="message success", ng-show="info")
            p {{info}}
        div(ng-repeat="tbl in toConfirm")
            h2(ng-show="tbl.news[1].length + tbl.mods[1].length + tbl.dels[1].length") 表: {{tbl.tag}}
            div(ng-show="tbl.dels[1]")
                h2 删除条目
                pre(ng-repeat="n in tbl.dels[1]"): table.table
                    thead
                        th key
                        th value
                    tr(ng-repeat="key in tbl.dels[0]")
                        td: | {{key}}
                        td: | {{n[key]}}
            div(ng-show="tbl.news[1]")
                h2 新条目
                pre(ng-repeat="n in tbl.news[1]"): table.table
                    thead
                        th key
                        th value
                    tr(ng-repeat="key in tbl.news[0]")
                        td: | {{key}}
                        td: | {{n[key]}}
            div(ng-show="tbl.mods[1]")
                h2 修改条目
                pre(ng-repeat="n in tbl.mods[1]"): table.table
                    thead
                        th key
                        th 原值
                        th
                        th 新值
                    tr(ng-repeat="key in tbl.mods[0]")
                        td: | {{key}}
                        td(ng-show="n[key].new !== undefined && n[key].old !== undefined"): | {{n[key].old}}
                        td(ng-show="n[key].new !== undefined && n[key].old !== undefined"): | ===>
                        td(ng-show="n[key].new !== undefined && n[key].old !== undefined"): | {{n[key].new}}
                        td(ng-show="!(n[key].new !== undefined && n[key].old !== undefined)")
                        td(ng-show="!(n[key].new !== undefined && n[key].old !== undefined)")
                        td(ng-show="!(n[key].new !== undefined && n[key].old !== undefined)"): | {{n[key]}}
        hr
        .row
            button.col-md-1.col-md-offset-9(type="submit", class="btn btn-primary", ng-click="confirm()") 确认
            button.col-md-1.col-md-offset-1(type="submit", class="btn btn-danger", ng-click="cancel()") 取消
