include ../mixins/block

+block("分区表", [["openAdd()", "添加分区"]])
    div(class="message errormsg", ng-show="error")
        p {{error}}
    table(cellpadding="0", cellspacing="0", width="100%")
        thead
            tr
                th 区名
                th 公开区
                th 渠道
                th 开放时间
                th 角色数
                th 在线
                th 操作
        tbody
            tr(ng-repeat="p in partitions | orderBy:'name'")
                td {{p.name}}
                td: input(type="checkbox", ng-checked="{{p.public}}", disabled="true")
                td {{p.distro}}
                td {{p.openSince | amDateFormat:"YYYY-MM-DD HH:mm"}}
                td: a(href="/user?partId={{p.id}}") {{p.roleCount}}
                td {{p.onlineRoles}}
                td
                    a(ng-if="p.roleCount===0", ng-click="removePartition(p)", href="") 删
