include ../mixins/block

+block("角色原始数据", [["cloneRole()", "复制角色"]])
    div(class="message errormsg", ng-show="error")
        p {{error}}
    div(class="message success", ng-show="info")
        p {{info}}
    div(style="height: 700px;", ui-ace="{{editorParams}}", ng-model="roleJson")
    hr
    form: input.submit(type="submit", value="修改", ng-click="update()")

+block("武将", [["openAddHero()", "添加武将"]])
    div(class="message errormsg", ng-show="hero_error")
        p {{hero_error}}
    table(ng-table="heroTableParams").table
        tr(ng-repeat="h in $data")
            td(data-title="'ID'", sortable="'id'") {{h.id}}
            td(data-title="'武将名'", sortable="'heroDefId'") {{heroDefs[h.heroDefId].name}}
            td(data-title="'等级'", sortable="'level'")
                span(ng-if="!h.editable") {{h.level}}
                div(ng-if="h.editable"): input(type="number", ng-model="h.editable.level", style="width: 45px")
            td(data-title="'进阶次数'", sortable="'stars'")
                span(ng-if="!h.editable") {{h.stars}}
                div(ng-if="h.editable"): input(type="number", ng-model="h.editable.stars", style="width: 45px")
            td(data-title="'经验值'", sortable="'exp'")
                span(ng-if="!h.editable") {{h.exp}}
                div(ng-if="h.editable"): input(type="number", ng-model="h.editable.exp", style="width: 45px")
            td(data-title="'创建时间'", sortable="'createTime'") {{h.createTime | amCalendar}}
            td(data-title="'操作'", width=100)
                a(ng-if="!h.editable", href="", class="btn btn-default btn-xs", ng-click="edit(h)") 编辑
                a(ng-if="h.editable", href="", class="btn btn-primary btn-xs", ng-click="saveHero(h)") 保存
                a(href="", class="btn btn-default btn-xs", ng-click="remove(h)") 删除

+block("道具", [["openAddItem()", "添加道具"]])
    div(class="message errormsg", ng-show="item_error")
        p {{item_error}}
    table(ng-table="itemTableParams").table
        tr(ng-repeat="it in $data")
            td(data-title="'ID'", sortable="'id'"): span(ng-bind="it.id")
            td(data-title="'道具名'", sortable="'itemDefId'") {{itemDefs[it.itemDefId].name}}
            td(data-title="'装备武将'", sortable="'bound'")
                span(ng-if="!it.editable") {{boundHeroName(it)}}
                div(ng-if="it.editable"): input(type="text", ng-model="it.editable.bound")
            td(data-title="'等级'", sortable="'level'")
                span(ng-if="!it.editable") {{it.level}}
                div(ng-if="it.editable"): input(type="number", ng-model="it.editable.level", style="width: 45px")
            td(data-title="'精炼等级'", sortable="'refinement'")
                span(ng-if="!it.editable") {{it.refinement}}
                div(ng-if="it.editable"): input(type="number", ng-model="it.editable.refinement", style="width: 45px")
            td(data-title="'创建时间'", sortable="'createTime'") {{it.createTime | amCalendar}}
            td(data-title="'操作'", width=100)
                a(ng-if="!it.editable", href="", class="btn btn-default btn-xs", ng-click="edit(it)") 编辑
                a(ng-if="it.editable", href="", class="btn btn-primary btn-xs", ng-click="saveItem(it)") 保存
                a(href="", class="btn btn-default btn-xs", ng-click="remove(it)") 删除
