include ../mixins/block

+block("角色原始数据")
    div(class="message errormsg", ng-show="error")
        p {{error}}
    div(class="message success", ng-show="info")
        p {{info}}
    div(style="height: 500px;", ui-ace="{{editorParams}}", ng-model="roleJson")
    hr
    form: input.submit(type="submit", value="修改", ng-click="update()")

+block("武将")
    table.table
        thead: tr
            td: b ID
            td: b 武将名
            td: b 等级
            td: b 经验值
            td: b 创建时间
        tbody: tr(ng-repeat="h in heroes")
            td {{h.id}}
            td {{heroDefs[h.heroDefId].name}}
            td {{h.level}}
            td {{h.exp}}
            td {{h.createTime | amCalendar}}

+block("道具")
    table.table
        thead: tr
            th ID
            th 道具名
            th 装备武将
            th 等级
            th 精炼等级
            th 精炼进度
            th 创建时间
        tr(ng-repeat="it in items")
            td {{it.id}}
            td {{itemDefs[it.itemDefId].name}}
            td {{boundHeroName(it)}}
            td {{it.level}}
            td {{it.refinement}}
            td {{it.refineProgress}}
            td {{it.createTime | amCalendar}}
