.modal-header: h3 添加武将
.modal-body: form.form-horizontal(role="form")
    .form-group
        input(type="hidden", ui-select2="selectOptions", ng-model="$parent.newHeroes", data-placeholder="输入添加武将类型")
.modal-footer
    button(class="btn btn-primary", ng-click="ok()") OK
    button(class="btn btn-warning", ng-click="cancel()") Cancel
