.modal-header: h3 添加分区
div(class="modal-body"): form.form-horizontal(role="form")
    .form-group
        label(for="partName", class="control-label col-md-2") 分区名
        .col-md-8: input#partName(type="text", placeholder="分区名", ng-model="newPartition.name").form-control
    .form-group
        label(for="partDistro", class="control-label col-md-2") 渠道
        .col-md-8: input(type="text", placeholder="渠道", ng-model="newPartition.distro").form-control
    .form-group
        label(for="datePicker", class="control-label col-md-2") 开放时间
        .col-md-6: datetimepicker#datePicker(format-date="yyyy-MM-dd", ng-model="newPartition.openSince", min-date="'2014-01-01'", max-date="'2020-01-01'", show-weeks="false", ng-required="true", hour-step="1", minute-step="15", show-meridian="false", close-text="关闭", current-text="今天", toggle-weeks-text="显示周数", clear-text="清空")
    .form-group
        div(class="col-md-offset-2 col-md-10"): label.checkbox
            input(type="checkbox", ng-model="newPartition.public")
            | 公开区
.modal-footer
    button(class="btn btn-primary", ng-click="ok()") OK
    button(class="btn btn-warning", ng-click="cancel()") Cancel
