doctype html
html(ng-app="sheath")
    head
        title Sheath Admin Console
        base(href='/')
        link(rel="stylesheet", href="/css/ui-grid.min.css")
        link(rel="stylesheet", href="/css/loading-bar.min.css")
        link(rel="stylesheet", href="/css/ng-table.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/select2.css")
        //link(rel="stylesheet", href="/css/jquery.wysiwyg.css")
        link(rel="stylesheet", href="/css/sheathStyle.css")
    body
        #hld
            .wrapper
                #header
                    .hdrl
                    .hdrr
                    h1
                        a(href='/') Dagger-Sheath
                    block menu
                div(ng-view)
                    block body
                #footer
                    p.left
                        a(href='#') ds.shorttaillab.com
        block script
